* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
}

/*  Navbar Section */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 70px;
    background-color: #151515;
    color: #ffffff;
    font-size: 20px;
}

.navbar-mid {
    display: flex;
    list-style: none;
    gap: 30px;
}

.navbar-end {
    display: flex;
    list-style: none;
    gap: 30px;
}

.contact-us-section {
    display: flex;
    position: relative;
    margin-left: 50px;
}

#contact-us-icon {
    position: absolute;
    right: 90px;
    top: 3px;
}

/*  Hero Section */

.hero-section {
    display: flex;
    background-color: #151515;
    color: #ffffff;
    padding: 60px 0;
}

.hero-text {
    padding-left: 70px;
    padding-top: 70px;
}

#hero-text-heading {
    font-size: 78px;
}


#hero-text-desc {
    font-size: 30px;
    padding-top: 30px;
    color: #8a8a8a;
}

.get-started-section {
    position: relative;
    padding: 50px 0;
}

#get-started-icon {
    position: absolute;
    top: 53px;
}

#get-started-text {
    position: absolute;
    font-size: 20px;
    left: 30px;
    font-weight: bold;
    letter-spacing: 2px;
}

#get-started-arrow-icon {
    position: absolute;
    top: 56px;
    left: 200px;
}

.hero-text-stats {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
    max-width: 700px;
}

.hero-text-stats>p {
    font-size: 24px;
}

.hero-text-stats>p>span {
    font-size: 52px;
}

.hero-img-1>img {
    position: absolute;
    top: 50px;
    right: 185px;
}

/*  Logo Section */

.logo-section {
    display: flex;
    background-color: #292929;
    padding: 100px 0px;
    justify-content: space-evenly;
    align-items: center;
}

/*  Services Section  */

.services-section {
    padding: 100px;
    background-color: #151515;
}

.services-section-text {
    display: flex;
    align-items: center;
}

#services-section-text-heading {
    font-size: 92px;
    color: #ffffff;
}

#services-section-text-desc {
    font-size: 30px;
    color: #c2bebb;
}

.services-section-images {
    display: flex;
    justify-content: space-around;
    padding: 100px 0;
}

#block-1,
#block-2,
#block-3 {
    color: #ffffff;
    font-size: 32px;
    width: 370px;
    height: auto;
    padding: 30px 30px;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid #ffffff;
}

#block-2 {
    background-color: #474442;
}

/*  Features Section  */

.features-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 980px;
    margin: auto;
    padding: 100px 0;
}

#features-section-heading {
    font-size: 92px;
}

#features-blue-text {
    color: #f637ec;
    font-weight: bold;
    display: block;
    text-align: center;
}

#features-section-desc {
    font-size: 30px;
    margin-top: 100px;
    text-align: center;
    color: #474442;
}

/*  Customer Testimonials Section  */

.customer-testimonials {
    background-color: #151515;
    padding: 100px 0;
}

.customer-testimonials-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#customer-testimonials-heading {
    font-size: 92px;
    max-width: 1280px;
    text-align: center;
    color: #ffffff;
}

#customer-testimonials-desc {
    font-size: 30px;
    margin: 50px 0;
    text-align: center;
    color: #c2bebb;
    max-width: 946px;
}

#testimonials-blue-text {
    color: #f637ec;
    font-weight: bold;
}

.testimonial-boxes {
    display: grid;
    grid-template-columns: 25% 25%;
    justify-content: center;
    gap: 100px;
}

#box-1 {
    padding: 20px;
    background-color: #535251;
    color: #ffffff;
    border: 1px solid #ffffff;
}

#box-2,
#box-3,
#box-4 {
    padding: 20px;
    background-color: #1e1f24;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.customer-testimonial {
    margin-top: 25px;
    font-size: 18px;
}

.customer-name {
    margin-top: 25px;
    font-size: 20px;
}

.customer-place {
    margin-top: 10px;
}

/*  Carousel Buttons  */

.carousel-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 100px;
}

.pill-shaped {
    background-color: #f637ec;
    border-radius: 16px;
    padding: 10px 5px;
    width: 100px;
}

.circle-shaped {
    background-color: #535251;
    border-radius: 50%;
    padding: 10px;
    width: 10px;
}